

<div class="full-page">
  <div class="row nav">
    <div style="height: 100%;width: 7%;display: flex;justify-content: center ;align-content: center;">
      <span class="" style="font-weight: bolder;font-size:x-large;padding-top: 6%;padding-left: 25px;">LJ88</span>
    </div>
    <div class=" pl-0 pt-0 pb-0" style="height: 100%;width: 9%;display: flex;justify-content: center ;align-content: center;padding-right: 1%;" (click)="tabswitch('ADD')" [ngClass]="{'tab-cust':currentPage === 'ADD'}" >
      <span class=" cursor-pointer" style="padding-top: 8%;">{{'Add Expense'}}</span>
    </div>
    <div class="pl-0 pt-0 pb-0" style="height: 100%;width: 9%;display: flex;justify-content: center ;align-content: center;padding-right: 1%;" (click)="tabswitch('GET')" [ngClass]="{'tab-cust':currentPage === 'GET'}">
      <span class=" cursor-pointer" style="padding-top: 8%;">{{"Get Details"}}</span>
    </div>

  </div>
  <div class="form-group">
    <div *ngIf="currentPage==='ADD'" class="col-4 position-absolute top-50 start-50 translate-middle get-input">
      <label for="usr">SPENDER</label>
      <input type="text" class="form-control" id="usr" [(ngModel)]="name">
      <label for="usr">AMOUNT SPENT</label>
      <input type="text" class="form-control" id="usr" [(ngModel)]="amount">
      <label for="usr">SPENT WITH</label>
      <input type="text" class="form-control" id="usr" [(ngModel)]="spent">
      <input class="btn btn-primary mt-2" type="button" value="Submit" style="margin-left: 40%;background-color: #00203FFF;color: #ADEFD1FF;" (click)="onSubmit()">
    </div>

    <div *ngIf="currentPage==='GET'">
      <div  class="col-4 position-absolute top-50 start-50 translate-middle">
        <label for="usr">NAME</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]="getname">
        <input class="btn btn-primary mt-2 cust-btn" type="button" value="View" style="margin-left: 40%;background-color: #00203FFF;color: #ADEFD1FF;" (click)="onSubmit()">
      </div>

      <div *ngIf="tablemodal" class="modal">
        <div class="parent">
          <div class="pull-right">
            <button type="button" style="margin-left: 100%;" class="btn-close" aria-label="Close" (click)="onclick()"></button>
          </div>
        </div>
        <div>
          <table class="table">
            <thead class="thead-dark">
              <tr >
                <th *ngFor="let header of tableHeaders" scope="col">{{header}}</th>
              </tr>
            </thead>
            <tr *ngFor="let item of getDetails" >
              <td>{{item.name}}</td>
              <td>{{item.amount}}</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>
